{% extends "root/base_table_list.html" %}
{% load static %}
{% block title %}ITMS Account{% endblock %}


{% block header_links %}
<li><i class='fa fa-list'></i> <a href="{% url 'employee:employee_list' %}">Employee List</a></li>
<li><i class='far fa-circle'></i> <a href="{% url 'asset:asset_assign' %}">Assign Asset</a></li>
<li><i class='fa fa-circle'></i> <a href="{% url 'account:account_assign' %}">Assign Account</a></li>
{% endblock %}

{% block header_nav_bar %}
<form method='GET' class='row pe-0'>
    <div class='col-md-2'>
        <input class='form-control' name='search' id='search' placeholder='Search Any Field' value='{{curr_search}}' autofocus='true'>
    </div>
    <div class='col-md-1 btn-row'>
        <button class='btn btn-primary'>Search</button>
    </div>
</form>
{% endblock %}

{% block table_list %}
<table class='table table-hover' >
    <thead>
        <tr class='table-header'>
            <th width='10%'>Employee ID</th>
            <th width='15%'>Name</th>
            <th width='20%'>Department</th>
            <th width='10%'>Supervisor</th>
            <th width='10%'>AccountType</th>
            <th width='25%'>Account</th>
            <th width='10%'>Action</th>
        </tr>
    </thead>
    <tbody class='bg-table'>
    {% for account_ref in objs %}
        <tr {% if not account_ref.employee.active %} class='bg-warning' {% endif %}>
            <td><a href="{% url 'employee:employee_overview' employee_id=account_ref.employee_id %}">{{account_ref.employee_id}}</a></td>
            <td>{{account_ref.employee.name}}</td>
            <td>{{account_ref.employee.department.cc_code}} -- {{account_ref.employee.department.cc_name}}</td>
            <td>{{account_ref.employee.supervisor}}</td>
            <td><b>{{account_ref.account_type_id}}</b></td>
            <td>
                {% if not account_ref.account %}
                    <button class='btn btn-lg btn-primary' 
                        onclick="assign_account('Create', '{{account_ref.id}}', '{{account_ref.employee.name}}', '{{account_ref.account_type_id}}', '')"
                    >Assign</button>
                {% else %}
                    {{account_ref.account}}
                {% endif %}
            </td>
            <td>
                
                {% if  account_ref.account %}
                <a class='cursor-pointer' title='Edit' 
                    onclick="assign_account('Edit', '{{account_ref.id}}', '{{account_ref.employee.name}}', '{{account_ref.account_type_id}}', '{{account_ref.account}}')"
                ><i class='fa fa-lg fa-edit'></i></a>
                {% else %}
                    <i class='fa fa-lg fa-edit'></i>
                {% endif %}
                    
                
                <a class='cursor-pointer text-danger ms-5' title='Delete' 
                onclick="delete_account('Delete', '{{account_ref.id}}', '{{account_ref.employee.name}}', '{{account_ref.account_type_id}}', '{{account_ref.account}}')"
                ><i class='fa fa-lg fa-xmark'></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script_block %}
<script src="{% static 'account/account_assign.js' %}"></script>
{% endblock %}
