{% extends 'root/base.html' %}
{% load static %}
{% block title %}ITMS User ChangePassword{% endblock %}

{% block header_links %}
<li><i class='far fa-circle'></i> <a href="{% url 'profile' %}">Profile</a></li>
<li><i class='fa fa-circle'></i> <a href="{% url 'change_password' %}">Change Password</a></li>

{% endblock %}

{% block body_content %}

<main class='p-5'>
    <section class='wrapper'>
        <form method="POST">
        {% csrf_token %}
        {% comment %} <div class="form-group">
            <div>
                <label class="col-sm-12 control-label">
                <p class="float-start">UserName</p>
                </label>
            </div>
            <div class="col-sm-6">
                    <div class="">
                    <h2 style="color: #838483;">{{ user.username }}</h2>
                    </div>
                <input type="hidden" class="form-control" name="user" maxlength="100" required id="id_user" value="{{ user.id }}">
                </select>
            </div>
            </div> {% endcomment %}
            <div class='col-md-8'>
                <div class='row'>
                    <div class='col-md-2'></div>
                    <div class='col-md-4'>User Name:</div>
                    <div class='col-md-4 p-0 row'>
                        {{user.username}}
                        {% comment %} <input class='form-control' name='username' placeholder='username recommand:First.Last' autofocus required> {% endcomment %}
                    </div>
                </div>
                <div class='row mt-3'>
                    <div class='col-md-2'></div>
                    <div class='col-md-4'>Old Password:</div>
                    <div class='col-md-4 p-0 row'>
                        {{form.old_password}}
                        {% comment %} <input type='password' class='form-control' name='password' placeholder='password1' required> {% endcomment %}
                    </div>
                </div>
                <div class='row mt-3'>
                    <div class='col-md-2'></div>
                    <div class='col-md-4'>New Password:</div>
                    <div class='col-md-4 p-0 row'>
                        {{form.new_password1}}
                        {% comment %} <input type='password' class='form-control' name='password' placeholder='password2' required> {% endcomment %}
                    </div>
                </div>
                <div class='row mt-3'>
                    <div class='col-md-2'></div>
                    <div class='col-md-4'>Confirm New Password</div>
                    <div class='col-md-4 p-0 row'>
                        {{form.new_password2}}
                        {% comment %} <input type='email' class='form-control' name='email' placeholder='email' required> {% endcomment %}
                    </div>
                </div>
                <div class='row mt-5'>
                    <div class='col-md-6'></div>
                    <div class='col-md-2 row'>
                        <button class="btn btn-primary" style="margin-left: 1rem; float: left;" type="submit">Confirm change</button>

                    </div>

                </div>
            </div>
            {% comment %} <div class="form-group col-lg-12">
                <label for="id_old_password">Old password:</label>
                <input type="password" class="form-control" name="old_password" autofocus="" required="" id="id_old_password">
                <label for="id_new_password1">New password:</label>
                <input type="password" class="form-control" name="new_password1" required="" id="id_new_password1">
                <label for="id_new_password2">New password confirmation:</label>
                <input type="password" class="form-control" name="new_password2" required="" id="id_new_password2">
            </div> {% endcomment %}
        {% comment %} <div id="bottomSection">
        {% for message in messages %}
        <div id="myModal" class="modal-password  message-box-bottom">
                <div class="modal-content-error">
                    <span onclick="closeBottomSection()" class="close" id="close" style="z-index: 100; top: 10px;">x</span>
                    <div class="warning-modal-body">
                    <p>{{ message }}</p>
                        <div class="modal-li">
                        <hr>
                        <ul style="width: auto; margin: 0 auto;">
                            <li>Your password can't be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be a commonly used password.</li>
                            <li>Your password can't be entirely numeric.</li>
                        </ul>
                        </div>
                    </div>
                </div>
                </div>
        {% endfor %}
        </div> {% endcomment %}

        </form>

    </section>
</main>

{% endblock %}
{% block script_block %}
<script>
$(function(){
    $('input').addClass('form-control')
    $('#id_username').attr('placeholder', 'Recommand: First.Last')
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            show_json_message('error', '{{ error|escape }}')
        {% endfor %}
    {% endfor %}
{% endif %}
})

</script>
{% endblock %}

