{% extends "root/base_table_list.html" %}
{% load static %}
{% block title %}ITMS Cost Center{% endblock %}


{% block header_links %}
<li><i class='fa fa-circle'></i> <a href="{% url 'department:cost_center' %}">Cost Center</a></li>
<li><i class='far fa-circle'></i> <a href="{% url 'department:business_unit' %}">Businuss Unit</a></li>
{% endblock %}

{% block header_nav_bar %}
<form method='GET' id='test_record_form' class='row pe-0'>
    <div class='col-md-2'>
        <input class='form-control' name='search' id='search' placeholder='Search Any Field' value='{{curr_search}}' autofocus='true'>
    </div>
    <div class='col-md-1 btn-row'>
        <button class='btn btn-primary'>Search</button>
    </div>
    <div class='col-md-8'></div>
    <div class='col-md-1 btn-row'>
        <button type='button' class='btn btn-primary' onclick="add_cost_center()">
            Add CC
        </button> 
    </div>
</form>
{% endblock %}

{% block table_list %}
<table class='table table-hover' >
    <thead>
        <tr class='table-header'>
            <th width='10%'>CC</th>
            <th width='20%'>CC Name</th>
            <th width='15%'>CC Manager</th>
            <th width='15%'>BU Name</th>
            <th width='15%'>BG name</th>
            <th width='15%'>LE Name</th>
            <th width='10%'>Action</th>
        </tr>
    </thead>
    <tbody class='bg-table'>
    {% for cc_ref in objs %}
        <tr>
            <td><a href="{% url 'logs:cost_center_log' %}?search={{cc_ref.cc_code}}">{{cc_ref.cc_code}}</a></td>
            <td>{{cc_ref.cc_name}}</td>
            <td>{{cc_ref.cc_manager}}</td>
            <td>{{cc_ref.bu_name}}</td>
            <td>{{cc_ref.bg_name}}</td>
            <td>{{cc_ref.le_name}}</td>
            <td>
                <a class='cursor-pointer' title='Edit' 
                    onclick="edit_cost_center('{{cc_ref.cc_code}}', '{{cc_ref.cc_name}}', '{{cc_ref.cc_manager}}', '{{cc_ref.bu_name}}')"
                ><i class='fa fa-lg fa-edit'></i></a>
                <a class='cursor-pointer text-danger ms-5' title='Delete' 
                href="{% url 'department:delete_cost_center' cc_id=cc_ref.id %}"
                ><i class='fa fa-lg fa-xmark'></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script_block %}
<script>
    let bu_name_list = {{bu_name_list|safe}}
</script>
<script src="{% static 'department/cost_center.js' %}"></script>
{% endblock %}
